<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9160DAA199142DB00781153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96505D31991469200AC30B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96505DF199149D700AC30B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
